<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/userBase::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>User Dashboard</title>
<link rel="stylesheet" th:href="@{css/style.css}" />
</head>
<body>
	<section>

		<div class="card user_section">
			<div class="card-body">
				<img style="width: 50px" class="mx-auto d-block"
					src="/images/add-contact.png">

				<div th:replace="alert::alertSection"></div>

				<h1 class="text-center">Add Contact</h1>
				<div class="container-fluid mt-4">
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form action="#" th:object="${contact}"
								enctype="multipart/form-data" method="post"
								th:action="@{/user/process-contact}" class="mt-2">

								<!-- first name  -->
								<div class="input-group mb-3">
									<span class="input-group-text"> <i class="fa fa-plus"></i>
									</span> <input type="text" id="firstName" name="name"
										th:value="${contact.name}" placeholder="Enter Name here"
										class="form-control" required="required">
								</div>

								<!-- second name  -->
								<div class="input-group mb-3">
									<span class="input-group-text"> <i class="fa fa-user"></i>
									</span> <input type="text" id="nickName" name="nickName"
										th:value="${contact.nickName}"
										placeholder="Enter Nick-name here" class="form-control">
								</div>

								<!-- phone number -->
								<div class="input-group mb-3">
									<span class="input-group-text"> <i class="fas fa-phone"></i>
									</span> <input maxlength="10" type="tel" pattern="[0-9]{10}"
										title="format : 9123456789" id="phone" name="phone"
										th:value="${contact.phone}"
										placeholder="Enter Phone number here" class="form-control"
										required="required">
								</div>

								<!-- email -->
								<div class="input-group mb-3">
									<span class="input-group-text"> <i class="fas fa-at"></i>
									</span> <input type="email" id="email" name="email"
										th:value="${contact.email}" placeholder="Enter Email ID here"
										class="form-control" required="required">
								</div>

								<!-- work -->
								<div class="input-group mb-3">
									<span class="input-group-text"> <i
										class="fas fa-briefcase"></i>
									</span> <input type="text" id="work" name="work"
										th:value="${contact.work}" placeholder="Enter work here"
										class="form-control">
								</div>

								<!-- contact image field -->
								<div class="mb-3">
									<input class="form-control" type="file" id="formFile"
										name="profileImage">
								</div>

								<!-- contact description -->
								<div class="form-group mb-4">
									<textarea rows="15" cols="" name="description" id="mytextarea"
										class="form-control" th:value="${contact.description}"
										placeholder="Enter contact description here"></textarea>
								</div>

								<!-- save contact  -->
								<div class="container text-center mb-4">
									<button class="btn bg-primary text-white">Save Contact</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- tiny MCE editor -->
		<script
			src="https://cdn.tiny.cloud/1/13kgozbuzko3y6seqfqefcw36vt96bf2z8w0higktc764u1q/tinymce/5/tinymce.min.js"
			referrerpolicy="origin"></script>
		<script>
			tinymce.init({
				selector : '#mytextarea'
			});
		</script>


	</section>
</body>
</html>