<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/userBase::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>User Dashboard</title>
</head>
<body>
	<section>
		<div class="card user_section">
			<div class="card-body">
				<div class="container text-center">
					<img th:if="${contact.image}"
						class="contacts_photo profile_view mb-3" alt="profile photo"
						th:src="@{'/images/contact/'+${contact.image}}"> <img
						th:unless="${contact.image}" class="contacts_photo profile_view"
						alt="profile photo" src="/images/default_profile_photo.png">
					<h2>
						<span th:text="${contact.name}"></span> (<span
							th:text="${contact.nickName}"></span>)
					</h2>

					<!-- contact details -->
					<table class="table contact_details">
						<tbody>
							<tr th:if="${contact.name !=''}">
								<td scope="row"><i class="fas fa-envelope fa-custom"></i></td>
								<td><span th:text="${contact.email}"></span></td>
							</tr>
							<tr th:if="${contact.phone !=''}">
								<td scope="row"><i class="fas fa-phone-alt fa-custom"></i></td>
								<td><span th:text="${contact.phone}"></span></td>
							</tr>
							<tr th:if="${contact.work !=''}">
								<td scope="row"><i class="fas fa-briefcase fa-custom"></i></td>
								<td><span th:text="${contact.work}"></span></td>
							</tr>
						</tbody>
					</table>

					<div class="container description bg-light"
						th:if="${contact.description != ''}">
						<i class="fas fa-quote-left"></i>
						<!-- <p th:utext="${contact.description}"></p> -->
						<span th:utext="${contact.description}"></span> <i
							class="fas fa-quote-right"></i>
					</div>
					<div class="container text-center btn-group mt-3 contact_action">
						<button type="submit" class="btn text-white "
							style="background: #40bf80">Update</button>
						<button type="reset"  th:onclick="|deleteContact(${contact.cId})|" class="btn bg-delete text-white resetBtn">Delete</button>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>