<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/userBase::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>User Dashboard</title>
<link rel="stylesheet" th:href="@{css/style.css}" />
</head>
<body>
	<section>

		<div class="card user_section">
			<div class="card-body">

				<div th:replace="alert::alertSection"></div>

				<div class="container-fluid container text-center">
					<h3 class="text-center">Edit Contact</h3>
					<div class="row">
						<div class="col-md-8 offset-md-2">
							<form action="#" th:object="${contact}"
								enctype="multipart/form-data" method="post"
								th:action="@{/user/update-process-contact}">

								<img th:if="${contact.image}" alt="profile photo"
									class="contacts_photo" style="width: 55px; height: 55px;"
									th:src="@{'/images/contact/'+${contact.image}}"> <img
									th:unless="${contact.image}" alt="profile photo"
									class="contacts_photo mb-3 mt-1"
									style="width: 55px; height: 55px;"
									src="/images/default_profile_photo.png">


								<div th:replace="normal/contact_form::contactFormSection"></div>
								<input th:value="${contact.cId}" type="hidden" name="cId">

								<!-- save contact  -->
								<div class="container text-center mb-4">
									<button class="btn bg-primary text-white">Save Contact</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- tiny MCE editor -->
		<script
			src="https://cdn.tiny.cloud/1/13kgozbuzko3y6seqfqefcw36vt96bf2z8w0higktc764u1q/tinymce/5/tinymce.min.js"
			referrerpolicy="origin"></script>
		<script>
			tinymce.init({
				selector : '#mytextarea'
			});
		</script>


	</section>
</body>
</html>