body {
	background: #e2e2e2 !important;
}

.bg-primary {
	background: #bb9cd9 !important;
}

.bg-warning {
	background: #00bfff !important;
}

.bg-delete {
	background: #f78f66 !important;
}

.bg-edit {
	background: #40bf80 !important;
}

.banner {
	width: 100%;
	height: 102vh;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
		url(../images/banner-img.jpg);
	color: white;
	background-size: cover;
	margin-top: -5%;
}

.my-card {
	padding: 20px;
}

/* sidebar style */
@media only screen and (max-width:600px) {
	.sidebar {
		display: none;
		width: 80% !important;
		background: white;
		height: 100%;
		position: fixed;
		padding-top: 20px;
		margin-top: 40px !important;
	}
	.content {
		margin-left: 0% important;;
	}
}

.sidebar {
	width: 18%;
	background: white;
	height: 100%;
	position: fixed;
	padding-top: 45px;
	z-index: 1000;
}

.sidebar a {
	display: block;
	width: 100%;
	padding: 10px 25px;
	text-decoration: none;
	color: gray;
}

.sidebar a:hover {
	background: #e2e2e2;
}

/* .sidebar .divider {
	height: .5px;
	width: 100%;
	background: #e2e2e2;
	margin-top: 10px;
} */
.sidebar .crossBtn {
	position: absolute;
	top: 17px;
	right: 21px;
	font-size: 23px;
	text-align: right;
	cursor: pointer;
}

.content {
	margin-left: 20%;
	margin-top: 4%;
}

/* disable card bg for add contact page*/
.user_section {
	background: rgba(0, 0, 0, 0);
	border: none;
}

.contacts_photo {
	width: 35px;
	height: 35px;
	object-fit: cover;
	border-radius: 50%;
}

.contacts_photo.profile_view {
	width: 350px !important;
	height: 350px !important;
	object-fit: cover;
	border-radius: 50%;
	background-color: lightgrey;
}

.page-item.active .page-link {
	background-color: #2197C4;
	border-color: #2197C4;
}

* {
	font-family: opensans, sans-serif, arial;
}

table {
	text-align: center;
}

.table.contact_details {
	margin-right: 25%;
	margin-left: 45%;
	width: 22% !important;
	text-align: left;
	padding: unset;
}

.contact_details td {
	padding: unset !important;
}

.fa-quote-left {
	padding-right: 100%;
}

.fa-quote-right {
	padding-left: 97%;
}

.description {
	width: 50%;
}

.contact_action {
	padding-left: 17%;
	padding-right: 17%;
}

/* show contacts update and delete button */
.fa-trash-alt, .fa-user-edit {
	cursor: pointer;
}

.fa-trash-alt {
	color: #FF3A00;
}

.fa-user-edit {
	color: #5F5F83;
}

.img-wrap {
	position: relative;
}

.img-wrap .deleteImg {
	position: absolute;
	top: 322px;
	left: 57%;
	font-size: x-large;
	z-index: 100;
	color: #6D7DB2;
	-webkit-text-stroke-width: 0.5px;
	-webkit-text-stroke-color: snow;
}

.deleteImg:hover {
	color: red !important;
}

a:hover {
	color: dimgrey;
}