<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>Sign-up</title>
</head>
<body>
	<section>

		<!-- signup container -->
		<div class="container">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="my-card" style="padding: 18px;">

						<div th:replace="alert::alertSection"></div>

						<img style="width: 50px" class="mx-auto d-block"
							src="/images/sign-up.png">
						<h2 class="text-center">Signup here</h2>

						<form id="myform" action="" th:action="@{/do_register}"
							method="post" th:object=${user}>

							<!-- name field -->
							<div class="mb-2">
								<label for="name_field">Name</label> <input type="text"
									class="form-control" id="name_field" name="name"
									th:classappend="${#fields.hasErrors('name')?'is-invalid':''}"
									placeholder="Enter Full name" th:value="${user.name}"
									required="required">
								<div class="invalid-feedback"
									th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>
							</div>
							<!-- email field -->
							<div class="mb-2">
								<label for="email_field">Email</label> <input type="email"
									class="form-control" id="email_field" name="email"
									placeholder="Enter email-id" th:value="${user.email}"
									required="required">
							</div>
							<!-- password field -->
							<div class="mb-2">
								<label for="password_field">Password</label>
								<div class="input-group">
									<input type="password" name="password" class="form-control"
										id="password_field"
										th:classappend="${#fields.hasErrors('password')?'is-invalid':''}"
										placeholder="Enter Password"> <span
										class="input-group-text"> <i class="far fa-eye"
										id="togglePassword" style="cursor: pointer"></i>
									</span>
									<div class="invalid-feedback"
										th:each="e : ${#fields.errors('password')}" th:text="${e}"></div>
								</div>
							</div>

							<!-- contact image field -->
							<div class="mb-2">
								<label for="formFile">Profile Image</label> <input
									class="form-control" type="file" id="formFile"
									th:valuetype="${user.imageUrl}" name="profileImage">
							</div>

							<!-- user-about field -->
							<div class="form-group mb-1">
								<textarea rows="5" th:value="${user.about}" name="about"
									placeholder="Enter something about yourself"
									th:text="${user.about}" class="form-control"></textarea>
							</div>
							<div
								class="mb-3 form-group form-check d-flex justify-content-center">
								<input type="checkbox" name="agreement" class="form-check-input"
									id="tnc_field"> <label class="mx-2 form-check-label"
									for="tnc_field"> Accept terms and conditions</label>

							</div>
							<div class="container text-center btn-group">
								<button type="submit" class="btn text-white"
									style="background: #40bf80">Submit</button>
								<button type="reset" class="btn bg-warning text-white resetBtn">Reset</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</section>

</body>
</html>